@import "reset";
@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");

html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-size: 14px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
  color: $color-text;
}

:global {
  #__next {
    width: 100%;
    height: 100%;
  }
  .box-gallery .bg-img {
    background: transparent !important;
  }

  body.nav-active {
    overflow: hidden;
  }
}
