@import "../../styles/helpers.scss";

.about {
  @include section;
}

.about-boxes {
  display: grid;
  max-width: $go-mobile;
  margin: $gutter * 4 auto 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 0;
  row-gap: 0;
  align-content: center;
  justify-items: center;

  @media (max-width: 680px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
  .about-boxes__box {
    font-size: 24px;
    padding: $gutter * 3;
    text-align: center;

    .box__icon {
      width: 116px;
      height: 116px;
      border-radius: 50%;
      background: $color-icon-background;
      margin-bottom: $gutter * 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    svg {
      width: 64px;
      height: 64px;
    }

    p {
      max-width: 30ch;
    }
  }
}
